@CHARSET "UTF-8";

#contents_area .business_cont_wrap h4 {color:#222; font-size:22px; font-weight:700; line-height:26px; padding-top:20px; background:url(../images/sub/h4_line.gif) no-repeat;}
#contents_area .business_cont_wrap h5 {color:#222; font-size:18px; font-weight:700; line-height:22px;}

/* business visual*/
.business_visual {position:relative; width:100%;}

.business_visual.ict {height:546px; background:url(../images/business/business01_visual.jpg) no-repeat;}
.business_visual.ict .visual_cont {position:absolute; top:305px; overflow:hidden; width:100%;}
.business_visual.ict .tit {padding-top:20px; font-size:30px; line-height:40px; color:#222; font-weight:700; text-align:center;}
.business_visual.ict .cont {padding-top:10px; font-size:14px; line-height:24px; color:#222; text-align:center;}

.business_visual.hanium {height:443px; background:url(../images/business/business02-1_visual.jpg) no-repeat;}
.business_visual.hanium .visual_cont {position:absolute; top:65px; right:100px; overflow:hidden; width:356px;}
.business_visual.hanium .logo {}
.business_visual.hanium .tit {padding-top:20px; font-size:20px; line-height:40px; color:#222;}
.business_visual.hanium .cont {padding-top:10px; font-size:14px; line-height:24px; color:#666;}

.business_visual.probono {height:443px; background:url(../images/business/business03-1_visual.jpg) no-repeat;}
.business_visual.probono .visual_cont {position:absolute; top:40px; right:100px; overflow:hidden; width:356px;}
.business_visual.probono .logo {}
.business_visual.probono .tit {padding-top:20px; font-size:20px; line-height:40px; color:#222;}
.business_visual.probono .cont {padding-top:10px; font-size:14px; line-height:24px; color:#666;}

.business_visual.evewa {height:443px; background:url(../images/business/business04-1_visual.jpg) no-repeat;}
.business_visual.evewa .visual_cont {position:absolute; top:95px; right:100px; overflow:hidden; width:356px;}
.business_visual.evewa .logo {}
.business_visual.evewa .tit {padding-top:35px; font-size:20px; line-height:40px; color:#222;}
.business_visual.evewa .cont {padding-top:10px; font-size:14px; line-height:24px; color:#666;}

.business_visual.probono02 {height:307px; background:url(../images/business/business03-2_visual.jpg) no-repeat;}
.business_visual.probono02 .visual_cont {position:absolute; top:105px; right:140px; overflow:hidden; width:370px;}
.business_visual.probono02 .tit {padding-top:20px; font-size:18px; line-height:40px; color:#318ec3;}
.business_visual.probono02 .cont {padding-top:10px; font-size:14px; line-height:24px; color:#666;}

.business_cont_wrap {display:inline-block; width:100%;}
.business_cont_wrap > .cont_box {float:left; width:500px;}
.business_cont_wrap > .cont_box p.cont {font-size:14px; color:#666; margin-top:20px; line-height:28px;}
.business_cont_wrap > .cont_box p.img {text-align:center; margin-top:20px;}
.business_cont_wrap > .cont_box ul.cont_list {margin-top:20px;}
.business_cont_wrap > .cont_box ul.cont_list > li {padding-left:10px; background:url(../images/business/li_line01.png) no-repeat left 15px; font-size:14px; color:#666; line-height:28px; letter-spacing:-0.4px; .letter-spacing:-1px;}
.business_cont_wrap > .cont_box ul.result {margin-top:80px;}
.business_cont_wrap > .cont_box ul.result > li {float:left; width:146px; height:125px; background:url(../images/business/result_line.png) no-repeat left center; text-align:center;}
.business_cont_wrap > .cont_box ul.result > li:first-child {background:none; margin-left:20px;}
.business_cont_wrap > .cont_box ul.result > li > .icon {margin-top:10px;}
.business_cont_wrap > .cont_box ul.result > li > .cont1 {font-size:13px; color:#666; margin-top:15px; line-height:22px;}
.business_cont_wrap > .cont_box ul.result > li > .cont2 {font-size:13px; color:#222; line-height:22px;}
.business_cont_wrap > .cont_box02 {float:left; width:100%;}
.business_cont_wrap > .cont_box02 > .cont_txt {margin-top:20px; font-size:14px; color:#666; line-height:28px;}
.business_cont_wrap > .cont_box02 > .cont_txt > .color {color:#da5b1c;}

/*ICT멘토링 제도 운영사업*/
.business_cont_wrap .run_biz {display:inline-block;  zoom:1; .display:inline;}
.business_cont_wrap .run_biz > li {float:left; position:relative;}
.business_cont_wrap .run_biz > li > a {width:365px; height:339px; border-top:1px solid #e0e0e0;  border-bottom:1px solid #e0e0e0; border-right:1px solid #e0e0e0; text-align:center;}
.business_cont_wrap .run_biz > li > a:hover {background:url(../images/business/run_biz_bg.png);}
.business_cont_wrap .run_biz > li > a > .logo01 {display:inline-block; height:89px; width:100%; background:url(../images/business/run_biz_logo01.png) no-repeat center center;  text-indent:-99999px; .text-indent:0; .font-size:0; .line-height:0; margin-top:50px; zoom:1; .display:inline;}
.business_cont_wrap .run_biz > li > a:hover > .logo01 {background:url(../images/business/run_biz_logo01_on.png) no-repeat center center;}
.business_cont_wrap .run_biz > li > a > .logo02 {display:inline-block; height:89px; width:100%; background:url(../images/business/run_biz_logo02.png) no-repeat center center;  text-indent:-99999px; .text-indent:0; .font-size:0; .line-height:0; margin-top:50px; zoom:1; .display:inline;}
.business_cont_wrap .run_biz > li > a:hover > .logo02 {background:url(../images/business/run_biz_logo02_on.png) no-repeat center center;}
.business_cont_wrap .run_biz > li > a > .logo03 {display:inline-block; height:89px; width:100%; background:url(../images/business/run_biz_logo03.png) no-repeat center center;  text-indent:-99999px; .text-indent:0; .font-size:0; .line-height:0; margin-top:50px; zoom:1; .display:inline;}
.business_cont_wrap .run_biz > li > a:hover > .logo03 {background:url(../images/business/run_biz_logo03_on.png) no-repeat center center;}
.business_cont_wrap .run_biz > li > a > .cont01 { font-size:15px; color:#222; line-height:24px; margin-top:20px; width:100%; zoom:1; .display:inline;}
.business_cont_wrap .run_biz > li > a:hover > .cont01 {color:#fff;}
.business_cont_wrap .run_biz > li > a > .cont02 {display:inline-block; font-size:13px; color:#666; line-height:22px; margin-top:8px; zoom:1; .display:inline;}
.business_cont_wrap .run_biz > li > a:hover > .cont02 {color:#aab2da;}
.business_cont_wrap .run_biz > li > a > .btn {display:inline-block; width:100%; height:32px; background:url(../images/business/run_biz_arrow.png) no-repeat center center; text-indent:-9999px; margin-top:15px; zoom:1; .display:inline;}
.business_cont_wrap .run_biz > li > a:hover > .btn {background:url(../images/business/run_biz_arrow_on.png) no-repeat center center;}
.business_cont_wrap .run_biz > li > a.first {border-left:1px solid #e0e0e0;}

/*통합공지사항, 버튼*/
.business_cont_wrap .notice_wrap {position:relative; height:279px; background:#fbfbfb; border:1px solid #e0e0e0;}
.business_cont_wrap .notice_wrap .notice_box {position:absolute; display:inline-block; width:370px; top:45px; left:60px;}
.business_cont_wrap .notice_wrap .notice_box .notice > li > a {float:left; font-size:13px; color:#222; line-height:30px; background:url(../images/business/li_dot.png) no-repeat left center; padding-left:10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width:280px;}
.business_cont_wrap .notice_wrap .notice_box .notice > li > span {float:right; font-size:12px; line-height:30px; color:#888;}
.business_cont_wrap .notice_wrap .notice_box .btn_more {position:absolute; top:20px; right:0;} /*20160922추가*/
.business_cont_wrap .notice_wrap .banner_box {position:absolute; top:100px; right:20px;}
.business_cont_wrap .notice_wrap .banner_box > li {float:left;}
.business_cont_wrap .notice_wrap .banner_box > li > a {width:185px; height:121px; background:url(../images/business/banner_line.png) no-repeat; text-align:center;}
.business_cont_wrap .notice_wrap .banner_box > li > a.first {background:none;}
.business_cont_wrap .notice_wrap .banner_box > li > a > .icon {width:100%; text-align:center;}
.business_cont_wrap .notice_wrap .banner_box > li > a > .cont01 {width:100%; text-align:center; font-size:13px; color:#666; line-height:22px; margin-top:25px;}
.business_cont_wrap .notice_wrap .banner_box > li > a > .cont02 {display:inline-block; font-size:14px; color:#222; line-height:26px; padding-right:10px; background:url(../images/business/banner_arrow.png) no-repeat right center;}

/*한이음ICT멘토링 주요 내용*/
.business_cont_wrap .project_member_wrap {text-align:center;}
.business_cont_wrap .project_member_wrap .project_member {display:inline-block; zoom:1; .display:inline;}
.business_cont_wrap .project_member_wrap .project_member > li {float:left; position:relative;}
.business_cont_wrap .project_member_wrap .project_member > li > .tit {position:absolute; width:137px; left:50%; margin-left:-60px;}
.business_cont_wrap .project_member_wrap .project_member > li > ul {display:inline-block; text-align:center; width:315px; min-height:300px; margin-top:70px; padding:35px 25px; background-color:#fbfbfc; border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; zoom:1; .display:inline;}
.business_cont_wrap .project_member_wrap .project_member > li > ul.first {border-left:1px solid #e0e0e0;}
.business_cont_wrap .project_member_wrap .project_member > li > ul > li.stit {color:#222; font-size:15px; margin-top:70px; .margin-top:100px;}
.business_cont_wrap .project_member_wrap .project_member > li > ul > li.scont01 {color:#666; font-size:13px; line-height:22px; min-height:60px; letter-spacing:-0.5px; .letter-spacing:-1px; background:url(../images/business/business_bot_line.gif) no-repeat center bottom;}
.business_cont_wrap .project_member_wrap .project_member > li > ul > li.scont02 {color:#666; font-size:13px; line-height:22px; min-height:90px; letter-spacing:-0.5px; .letter-spacing:-1px; background:url(../images/business/business_bot_line.gif) no-repeat center bottom;}
.business_cont_wrap .project_member_wrap .project_member > li > ul > li > ul {width:300px; margin:0 auto;}
.business_cont_wrap .project_member_wrap .project_member > li > ul > li > ul > li {display:inline-block; color:#666; font-size:13px; line-height:22px; background:url(../images/business/li_line01.png) no-repeat 0 10px; padding-left:10px; zoom:1; .display:inline;}

/*한이음 ICT멘토링 신청안내*/
.business_cont_wrap .info_request {position:relative; display:inline-block; width:100%;}
.business_cont_wrap .info_request > p.cont {font-size:14px; color:#666; margin-top:30px; text-align:center;}
.business_cont_wrap .info_request > p.btn {width:100%; text-align:center; margin-top:30px;}
.business_cont_wrap .info_request > p.btn > a {width:223px; height:53px; text-align:center; background-color:#4152ac;} /*20160808수정*/
.business_cont_wrap .info_request > p.btn > a > span {font-size:14px; line-height:20px; color:#fff; padding-left:25px; background:url(../images/business/icon_info01_on.png) no-repeat left center; margin-top:15px;}


/*프로보노 ICT멘토링 프로젝트 프로세스*/
.process_info_wrap {width:100%; overflow:hidden; padding-top:25px;}
.process_info_wrap > li {float:left;}
.process_info_wrap > .cont_wrap01 {width:187px; border-top:8px solid #4152ac; border-bottom:1px solid #e0e0e0;}
.process_info_wrap > .cont_wrap02 {width:187px; border-top:8px solid #5041ac; border-bottom:1px solid #e0e0e0;}
.process_info_wrap > .cont_wrap03 {width:187px; border-top:8px solid #6441ac; border-bottom:1px solid #e0e0e0;}
.process_info_wrap > .cont_wrap04 {width:187px; border-top:8px solid #8d41ac; border-bottom:1px solid #e0e0e0;}
.process_info_wrap > .cont_wrap05 {width:187px; border-top:8px solid #ac419c; border-bottom:1px solid #e0e0e0;}
.process_info_wrap .num {position:absolute; margin-top:-30px; margin-left:70px;}
.process_info_wrap .tit {width:185px; height:88px; line-height:98px; font-size:16px; color:#222; font-weight:700; border-right:1px solid #e0e0e0;  border-left:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; text-align:center;}
.process_info_wrap .cont {width:185px; height:91px; background-color:#f8f8fa; border-right:1px solid #e0e0e0;  border-left:1px solid #e0e0e0; text-align:center; display:table;}
.process_info_wrap .cont > p {font-size:13px; line-height:22px; color:#666; display:table-cell; vertical-align:middle; .padding-top:20px;}
.process_info_wrap > .arrow {width:40px; height:195px; background:url(../images/mypage/icon_arrow03.png) no-repeat center center;}

/*프로보노 참가신청 개요*/
.summary_info_wrap {width:100%; overflow:hidden; padding-top:25px;}
.summary_info_wrap > li {float:left; margin-left:28px;}
.summary_info_wrap > li:first-child {margin-left:0;}
.summary_info_wrap > .cont_wrap01 {width:254px; border-top:8px solid #4152ac; border-bottom:1px solid #e0e0e0;}
.summary_info_wrap > .cont_wrap02 {width:254px; border-top:8px solid #5041ac; border-bottom:1px solid #e0e0e0;}
.summary_info_wrap > .cont_wrap03 {width:254px; border-top:8px solid #6441ac; border-bottom:1px solid #e0e0e0;}
.summary_info_wrap > .cont_wrap04 {width:254px; border-top:8px solid #8d41ac; border-bottom:1px solid #e0e0e0;}
.summary_info_wrap .num {position:absolute; margin-top:-35px; margin-left:95px;}
.summary_info_wrap .tit {width:252px; height:88px; line-height:108px; font-size:16px; color:#222; font-weight:700; border-right:1px solid #e0e0e0;  border-left:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; text-align:center;}
.summary_info_wrap .cont {width:252px; height:136px; background-color:#f8f8fa; border-right:1px solid #e0e0e0;  border-left:1px solid #e0e0e0; text-align:center; display:table;}
.summary_info_wrap .cont > p {font-size:13px; line-height:22px; color:#666; display:table-cell; vertical-align:middle; .padding-top:20px;}
.summary_info_wrap > .arrow {width:40px; height:195px; background:url(../images/mypage/icon_arrow03.png) no-repeat center center;}


.biz_table01 {width:100%;  border-top:1px solid #222;  border-bottom:1px solid #222; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
.biz_table01 thead tr th {padding:25px 0 23px; font-weight:bold; color:#222; font-size:14px; text-align:center; vertical-align:middle; border-bottom:1px solid #222; background:#fff;}
.biz_table01 thead tr th.color {background:#f8f8fa;}
.biz_table01 tbody tr td {padding:26px 35px 22px; color:#666; font-size:14px; line-height:24px; vertical-align:middle; border-top:1px solid #dcdcdc; text-align:center;}
.biz_table01 tbody tr td.color {color:#4152ac; text-align:center; background:#f8f8fa;}
.biz_table01 tbody tr td.tcolor {color:#4152ac; text-align:center; line-height:22px;}
.biz_table01 tbody tr td.black {color:#222;}
.biz_table01 tbody tr td > ul > li {padding-left:10px; background:url(../images/business/li_line01.png) no-repeat left 12px; line-height:24px;} /*20160809수정*/

.biz_table02 {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
.biz_table02 tbody tr th {padding:30px 20px 30px 50px; color:#222; font-size:16px; vertical-align:middle; border-top:3px solid #c6c6c6; border-bottom:1px solid #e0e0e0; border-right:1px solid #e0e0e0; background:#fff; height:50px;}
.biz_table02 tbody tr td {padding:30px 35px 30px; color:#222; font-size:14px; vertical-align:middle; border-top:3px solid #e0e0e0; border-bottom:1px solid #e0e0e0; background:#f8f8fa;}
.biz_table02 tbody tr th.icon02-01 {background:url(../images/business/join_icon02-01.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon02-02 {background:url(../images/business/join_icon02-02.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon02-03 {background:url(../images/business/join_icon02-03.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon02-04 {background:url(../images/business/join_icon02-04.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon03-01 {background:url(../images/business/join_icon03-01.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon03-02 {background:url(../images/business/join_icon03-02.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon03-03 {background:url(../images/business/join_icon03-03.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon04-01 {background:url(../images/business/join_icon04-01.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon04-02 {background:url(../images/business/join_icon04-02.png) no-repeat 50px center;}
.biz_table02 tbody tr th.icon04-03 {background:url(../images/business/join_icon04-03.png) no-repeat 50px center;}
.biz_table02 tbody tr th > .icon {float:left; vertical-align:middle; margin-right:15px;}
.biz_table02 tbody tr th > .tit01 {display:inline; font-size:16px; color:#222; line-height:20px; margin-left:60px;}
.biz_table02 tbody tr th > .tit01 > .tit02 {font-size:13px; color:#666; margin-left:60px; .margin-left:0;}
.biz_table02 tbody tr td > ul > li {padding-left:10px; background:url(../images/business/li_line01.png) no-repeat left 12px; line-height:24px;}
.biz_table02 tbody tr td.btn_box {background:#4152ac; border-top:3px solid #4152ac; border-bottom:1px solid #4152ac; text-align:center; vertical-align:middle;}
.biz_table02 tbody tr td.btn_box > a.btn {color:#fff; font-size:15px; line-height:20px; height:100%; width:100%; text-decoration:none; background:url(../images/business/join_arrow.png) no-repeat right center; padding-right:7px;}
.biz_table02 tbody tr td.space {border:0; padding:15px; background:#fff; .height:30px;}

.biz_table03 {width:100%;  border-top:1px solid #222;  border-bottom:1px solid #e0e0e0; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
.biz_table03 thead tr th {padding:25px 0 23px; font-weight:bold; color:#222; font-size:14px; text-align:center; vertical-align:middle; border-bottom:1px solid #222; background:#fff;}
.biz_table03 thead tr th.color {background:#f8f8fa;}
.biz_table03 tbody tr td {position:relative; color:#666; font-size:14px; vertical-align:middle; text-align:center;}
.biz_table03 tbody tr td.color {background:#f8f8fa; z-index:-1;}
.biz_table03 tbody tr td > ul.schedule {padding:0 10%; .padding:0 18px;}
.biz_table03 tbody tr td > ul.schedule > li.date_box {padding:33px 0 24px 0; background:url(../images/business/dot_line.png) repeat-x center bottom;}
.biz_table03 tbody tr td > ul.schedule > li.date_box > .tit{font-size:16px; color:#222; line-height:16px;}
.biz_table03 tbody tr td > ul.schedule > li.date_box > .date{font-size:28px; color:#4152ac; line-height:28px; font-weight:700; margin-top:15px;}
.biz_table03 tbody tr td > ul.schedule > li.text_box {padding:33px 0; min-height:45px;}
.biz_table03 tbody tr td > ul.schedule > li.text_box > .cont {color:#666; font-size:14px; line-height:22px;}
.biz_table03 tbody tr td > .arrow {position: absolute; top: 46%; right: 0; margin-right: -8px; z-index: 10;}


.business_list_cont {width:100%; overflow:hidden;}
.business_list_cont li {display:block; margin-bottom:10px;}
.business_list_cont li > .tit {font-size:14px; color:#222; line-height:22px; background:url(../images/business/li_line01.png) no-repeat 0 10px; padding-left:10px; vertical-align:top; margin-right:5px;}
.business_list_cont li > .cont {font-size:14px; color:#666; line-height:22px;}
.business_list_cont li > .cont > .color {color:#da5b1c;}
.business_list_cont li > .cont02 {font-size:14px; color:#666; line-height:22px; background:url(../images/business/li_line01.png) no-repeat 0 10px; padding-left:10px;}

.business_cont_wrap > .etc {font-size:13px; line-height:22px; color:#666;}

.subscribe_box {border:1px solid #e0e0e0; background:#f8f8fa;}
.subscribe_box > li {overflow:hidden; padding:15px 35px; background:url(../images/business/dot_line.png) repeat-x center top;}
.subscribe_box > li:first-child {background:none;}
.subscribe_box > li > span.txt {float:left; font-size:14px; color:#222; line-height:22px; margin-top:15px;}
.subscribe_box > li > p.btn {float:right;}
.subscribe_box > li > p.btn > a {width:223px; height:53px; text-align:center; background:#4152ac;} /*20160808수정*/
.subscribe_box > li > p.btn > a > span {font-size:14px; line-height:20px; color:#fff; padding-left:25px; background:url(../images/business/icon_info01_on.png) no-repeat left center; margin-top:15px;}
